<div class="debug row ta-cen">
  <h1>Activity</h1>
</div>

<div class="debug ta-cen">
  <p>I started coding because it is the most entertaining coupling of my imagination and technical side.</p>

  <p>I am passionate about the psychological aspects - both positive and negative - that social media apps have introduced to my generation. I am excited to build new technology that connects people on a deeper level, beyond the photos and likes.</p>
</div>

<div class="debug ta-cen">
  <p><strong>Recent Commits:</strong></p>
  <p><strong>Stack Overflow:</strong></p>
  <p><strong>Current Projects:</strong></p>
  <p><strong>Code Eval:</strong></p>
</div>