<div class="c-white">
  <div class="debug row ta-cen">
    <h1>Activity</h1>
  </div>

  <div class="debug ta-cen">
    <p>Hi, I'm Andrew</p>
  </div>

  <div class="debug ta-cen">
    <p><strong>Recent Commits:</strong></p>
    <p><strong>Stack Overflow:</strong></p>
    <p><strong>Current Projects:</strong></p>
    <p><strong>Code Eval:</strong></p>
  </div>
</div>