<div class="debug row ta-cen">
  <h1>bio</h1>
</div>

<div class="debug ta-cen">
  <p><i><b>email: </b></i>andrewpham8@gmail.com</p>
  <p><i><b>GitHub: </b></i><a href="https://github.com/atp1o2">atp1o2</a></p>
</div>

<div class="debug">
  <ul>
    <li>Ruby on Rails</li>
    <li>Javascript</li>
    <li><i>jQuery</i></li>
    <li><i>AJAX</i></li>
    <li>Sinatra</li>
    <li>HTML5</li>
    <li>CSS (atomic)</li>
    <li>Test Driven Development</li>
    <li>Object-Oriented Design</li>
  </ul>
</div>
