<div class="debug row">
  <h1>bio</h1>
</div>

<div class="debug ta-cen">
  <p>I started coding because it is the most entertaining coupling of my imagination and technical side.</p>

  <p>I am passionate about the psychological aspects - both positive and negative - that social media apps have introduced to my generation. I am excited to build new technology that connects people on a deeper level, beyond the photos and likes.</p>
</div>

<div class="debug ta-cen">
  <p><i><b>email: </b></i>andrewpham8@gmail.com</p>
  <p><i><b>GitHub: </b></i><a href="https://github.com/atp1o2">atp1o2</a></p>
</div>

<div class="debug">
  <ul>
    <li>Ruby on Rails</li>
    <li>Javascript</li>
    <li><i>jQuery</i></li>
    <li><i>AJAX</i></li>
    <li>Sinatra</li>
    <li>HTML5</li>
    <li>CSS (atomic)</li>
    <li>Test Driven Development</li>
    <li>Object-Oriented Design</li>
  </ul>
</div>
