<div class="c-white col ">

  <div class="debug row">
    <h1>Contact</h1>
  </div>

  <div class="debug h-10 w-10 bg-silver m-2 bd-1 blue-space"></div>

  <div class="debug col span-12-d z-25">
    <p><i><b>email: </b></i>andrewpham8@gmail.com</p>
    <p><i><b>GitHub: </b></i><a href="https://www.github.com/atp1o2">atp1o2</a></p>
    <p><i><b>LinkedIn: </b></i><a href="https://www.linkedin.com/in/andrewpham8">andrewpham8</a></p>
  </div>



</div>