<div class="c-white col h-30 mt-2">

  <!-- <div class="debug profile-pic"></div> -->

  <div class="debug col span-12-d mr-1-5">
    <p class="ta-cen">
      <b>Andrew Pham</b> <br>
      San Jose, CA
    </p>

    <p class="ta-cen">andrewpham8@gmail.com</p>
    <div class="ta-cen">
      <a href="https://www.linkedin.com/in/andrewpham8" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="../assets/linkedin-icon.png" width="40" height="40" alt="LinkedIn" style="vertical-align:middle;" border="0"></span></a>

      <a href="https://github.com/atp1o2" class="ml-1" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="../assets/github-icong.png" width="40" height="40" alt="Github" style="vertical-align:middle;" border="0"></span></a>
    </div>
    <br>

  </div>
</div>