<script type="text/javascript">
  $(document).ready(function(){
    tabSelector();
  })
</script>

<div class="wrapper">
  <div class="debug row span-12-d h-10 c-white ">
    <div class="debug col span-3-d bg-black ta-cen bd-1b">
      <div class="initials f-l mb-1 "><a href="<%= root_path %>" class="c-white">atp</a></div>
      <h1 class="clear-l"> Web Developer </h1>

        <div id="nav" class="debug col span-12-d  ">
          <div><%= button_to "Resume", {action: "bio"}, class: "btn " %></div>
          <div><%= button_to "Contact", {action: "bio"}, class: "btn " %></div>
        </div>

      <div class="debug col clear-l h-30 mt-3 ">
        <h3><strong><u>Recent Commits</strong></u></h3>
        <h3><strong><u>Stack Overflow</strong></u></h3>
        <h3><strong><u>Current Projects</strong></u></h3>
        <h3><strong><u>Code Eval</strong></u></h3>
      </div>

    </div>
  </div>


    <!-- <hr class="span--d  mt--3"> -->


  <div id="content" class="debug col span-5-d h-30 ml-5">
    <div class="c-white fs-150 ml-7 mt-7">
      <h2>Welcome to my World,</h2>
      <h2 class="">I'm Andrew.</h2>
    </div>
  </div>


<!--   <div id="game"></div>
  <div id="keyboard"></div>
  <div id="headphones"></div> -->

</div>
  <!-- <footer class="debug bd-1 bg-black c-white h-5">Hi, I made this site</footer> -->




