<script type="text/javascript">
  $(document).ready(function(){
    tabSelector();
  })
</script>

<div class="wrapper">
  <!-- <div class="debug row span-12-d h-10 c-white "> -->

    <div class="debug col span-3-d bg-black ta-cen bd-1b">
      <div class="initials f-l mb-1 "><a href="<%= root_path %>" class="c-white">atp</a></div>

        <h1 class="clear-l c-white"> Web Developer </h1>

        <div id="nav" class="debug col span-12-d  ">
          <div><%= button_to "Resume", {action: "bio"}, class: "btn " %></div>
          <div><%= button_to "Contact", {action: "bio"}, class: "btn " %></div>
        </div>


        <div id="content">
          <div class="debug col clear-l h-30 mt-3 c-white">
            <h3><strong><u>Recent Commits</strong></u></h3>
            <h3><strong><u>Stack Overflow</strong></u></h3>
            <h3><strong><u>Current Projects</strong></u></h3>
            <h3><strong><u>Code Eval</strong></u></h3>
          </div>
        </div>
    </div>


  <div id="" class="debug col span-5-d h-30 ml-5  mt-10">
    <div class="c-white fs-150 ml-7 mt-7 debug">
      <h2>Hi</h2>
      <h2 class="">I'm Andrew.</h2>
    </div>
  </div>

<div class="debug pieces col span-9-d mt--40 z-15">
  <div class="flute piece hidex"></div>
  <div class="pouch piece hidex"></div>
  <div class="game piece"></div>
  <div class="journal piece hidex"></div>
  <div class="tags piece"></div>
  <div class="travel piece hidex"></div>
  <div class="coaster piece hidex"></div>
  <div class="headphones piece"></div>
  <div class="ucd piece"></div>
  <div class="watch piece"></div>
</div>


</div>






