<div class="c-white col h-33">

    <button class=" mt-3 btn-long w-15 ml-5">
      <a href="https://drive.google.com/file/d/0B7uA9iYJdWb_YmRHTzRJMjVReVE/view?usp=sharing" target="blank" class="c-white ">Open in Google Docs</a>
    </button>

    <div class="mr-1-5 mt-3 ta-cen">
      <p><u>Summary</u></p>
      <p>
        Ruby on Rails Developer<br><br>
        Javascript<br>
        - jQuery<br>
        - AJAX<br><br>
        HTML5 & CSS (atomic)<br><br>
        Github / Git Workflow<br>
        Test-Driven Development<br>
        Object-Oriented Design<br>
        Agile Development<br>
      </p>
    </div>

<!--     <div class="padl-1 mt-3">
      <p> <u>Interests</u>
      <br><br>Progressing the biotech industry by improving UX for accessing databases
      <br><br>Creating deeper connections in social media that transcend the likes and photos
      <br><br>Petting overly cheery dogs.
      </p>
    </div> -->


</div>