<div class="c-white col h-30 mt-2">
    <div class="ta-cen debug">
      <button class="debug  btn-long w-15">
        <a href="https://drive.google.com/file/d/0B7uA9iYJdWb_S2VvWWhYZTNCWGc/view?usp=sharing" target="blank" class="c-white ">Open in Google Docs</a>
      </button>

      <p class="">
        Ruby<br>
        Javascript<br>
        HTML5<br>
        CSS (atomic)<br><br>

        Ruby on Rails<br>
        Sinatra<br>
        RSpec<br>
        PostgreSQL<br>
        jQuery<br>
        AJAX<br><br>
      </p>
    </div>

<!--     <div class="padl-1 mt-3">
      <p> <u>Interests</u>
      <br><br>Progressing the biotech industry by improving UX for accessing databases
      <br><br>Creating deeper connections in social media that transcend the likes and photos
      <br><br>Petting overly cheery dogs.
      </p>
    </div> -->


</div>