<div class="debug c-white col span-12-d bg-black h-20 mt-5 br-5">
  <div class="ml-3">
    <h2>Games</h2>
    <p>I've played video games since I got my first Nintendo at 4-years-old</p>
    <ul>
      <p>Fondest Games:</p>
      <li>Super Mario Bros. / Duck Hunt</li>
      <li>The Legend of Zelda: Ocarina of Time</li>
      <li>Pokemon: Red</li>
      <li>Super Smash Bros: Melee</li>
      <li>Ragnarok Online</li>
    </ul>
  </div>
</div>
