<div class="debug c-white col span-12-d bg-blue h-20 mt-5 br-5">
  <div class="ml-3">
    <h2>Grado Labs SR60</h2>
    <p>Current pair: AudioTechnica ATH-MX50x, but these were my first love.</p>
    <hr class="ml--3">
    <ul>
      <p>Current Playlist:</p>
      <li>Red Hot Chili Peppers</li>
      <li>Mumford & Sons</li>
      <li>Iration</li>
      <li>Tycho</li>
      <li>Odesza</li>
    </ul>
  </div>
</div>