<div class="debug c-white col span-12-d bg-black h-25 mt-3 br-5">
  <div class="ml-1">
    <h2>Dev Bootcamp - Alumni</h2>
    <div class="debug col span-4-d ml-">
      <p><b><u>Languages</u></b></p>
        <p>Ruby</p>
        <p>Javascript</p>
        <p>HTML5</p>
        <p>CSS (atomic)</p>
    </div>

    <div class="debug col span-4-d ">
      <p><b><u>Technologies</u></b></p>
        <p>Ruby on Rails</p>
        <p>Sinatra</p>
        <p>PostgreSQL</p>
        <p>jQuery</p>
        <p>AJAX</p>
    </div>

    <div class="debug col  span-4-d">
      <p><b><u>Methodologies</u></b></p>
        <p>Git Workflow</p>
        <p>Test Driven Development</p>
        <p>Object-Oriented Design</p>
        <p>Agile Development</p>
    </div>
    </ul>
  </div>
</div>