<div class="debug c-white col span-12-d bg-blue h-20 mt-5 br-5">
  <div class="ml-3">
    <h2>University of CA, Davis</h2>
    <p>B.S. in Biochemistry & Molecular Biology</p>
    <hr class="ml--3">
    <p>Literally learned how to break down any problem to its molecular level.</p>
    <p>
      <u>UC Davis Kendo Club President</u><br>
      I never knew there were so many different types of leadership styles, but I found the one that I excel at the most during my time as President.
    </p>



  </div>
</div>
