<div class="debug col span-8-d bg-blue h-30 mt-1 br-5">

      <div class="debug ml-2">
        <p class="c-white">This commit will...</p>
          <ol>
        <% @commits.each do |commit| %>

          <% link = commit["url"].split("/")
            short_link = link[4] + "/" + link[5] + "/" + link[6] + "/" + link[7]
            url = "https://github.com/" + short_link %>

            <li>
              <span class="c-white bold"><%= commit["message"] %></span><br>
              <a href="<%= url %>" target="blank" class="fs-75 c-gray"><%= short_link.slice(0..-34) %>...</a>
              <span class="fs-75 c-gray"><%= commit["created_at"] %></span>
              <br><br>
            </li>
        <% end %>
          </ol>
      </div>
</div>


