.debugx { border: solid 1px red; }

* { font-family: 'Titillium Web', sans-serif;}

.profile-pic {
  background-image: url('../assets/atp3.jpg');
  height: 7em;
  width: 7em;
  /*border: 1px black solid;*/
  /*border-radius: 5px 20px 5px;*/
  background-position: center top;
  background-size: 100% auto;
  border: 2px white solid;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('../assets/new4.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  overflow: auto;
  /*height: 54em;*/
  margin: 0 auto;
  /*background-color: rgba(0, 0, 0, 0.0);*/
}

.initials {
    margin-left: 2em;
    margin-top: 0.5em;
    font-size: 300%;
    font-weight: bold;
    border: 5px white solid;
    display: inline-block;
    padding: 0.5em;
}

#nav div{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}


/*button*/
.btn-g {
  color: #ffffff;
  font-size: 15px;
  /*background: #1BBC9B;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 10em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border-style: none;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  /*background: #22313F;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 9em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border: 2px white solid;
  /*border-style: none;*/
}

.btn-long {
  color: #ffffff;
  font-size: 15px;
  /*background: #22313F;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 12em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border: 2px white solid;
  /*border-style: none;*/
}

.btn:hover {
  background: #336E7B;
  text-decoration: none;
}

.pieces {
  position: relative;
  height: 53em;
  /*border: 1px green solid;*/
  background-attachment: scroll;
}

.piece {
  border: 1px #1BBC9B dashed;
  position: relative;
  display: inline-block;
  height: 5em;
  width: 5em;
}

.piece:hover {
  border: 1px white solid;
}

.hide {
  border: 1px rgba(0, 0, 0, 0) dashed;
}


/*individual pieces*/
.flute {
  left: 0em;
  top: 12em;
}

.pouch {
  left: 8em;
  top: 3em;
}

.game {
    left: 25em;
    top: 5em;
}

.journal {
    left: 37em;
    top: 5em;
}

.tags {
    left: 23em;
    top: 20em;
}

.travel {
    left: 30em;
    top: 24em;
}

.coaster {
    left: 28em;
    top: 33em;
}

.headphones {
  left: 8em;
  top: 44em;
}

.ucd {
  left: -21em;
  top: 47em;
}

.watch {
  left: -44em;
  top: 42em;
}


