.debugx { border: solid 1px red; }

* { font-family: 'Titillium Web', sans-serif;}

.profile-pic {
  background-image: url('../assets/atp3.jpg');
  height: 7em;
  width: 7em;
  /*border: 1px black solid;*/
  /*border-radius: 5px 20px 5px;*/
  background-position: center top;
  background-size: 100% auto;
  border: 2px white solid;
}

body {
  background-image: url('../assets/plane.jpg');
  /*background-image: url("http://p1.pichost.me/i/39/1621104.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  overflow: auto;
  margin: 0 auto;
  /*height: 54em;*/
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

.initials {
    font-size: 300%;
    font-weight: bold;
    border: 5px white solid;
    display: inline-block;
    padding: 0.5em;
}

.image{
  width: 16em;
  height: 10em;
}

/*#nav div{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}*/


/*button*/
.btn-g {
  color: #ffffff;
  font-size: 15px;
  /*background: #1BBC9B;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 10em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border-style: none;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  /*background: #22313F;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 9em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border: 2px white solid;
  /*border-style: none;*/
}

.btn-long {
  color: #ffffff;
  font-size: 15px;
  /*background: #22313F;*/
  background: rgba(0, 0, 0, 0);
  height: 2em;
  width: 12em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border: 2px white solid;
  /*border-style: none;*/
}

.btn:hover {
  background: #336E7B;
  text-decoration: none;
}

#activities {

}

.piece:hover {
  border: 1px white solid;
}

.hide {
  border: 1px rgba(0, 0, 0, 0) dashed;
}