@media (min-width: 320px) and (max-width: 400px) {
  /*.debug { border: solid 1px red; }*/
  .initials {
    color: gray;
    display: table;
    margin: 0 auto;
  }

  #nav {
    display: table;
    margin: 0 auto;
  }

}
