@media (min-width: 320px) and (max-width: 400px) {

  .mobile-center {
    display: table;
    margin: 0 auto;
  }

  .mobile-text {
    text-align: center;
  }

  .stack div{
    width: 50%;
  }


}
